@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.store-page-bg {
    background-color: #894bca;
    width: 60vh;
}

.store-page-top-section {
    background-color: #894bca;
    height: 30vh;
    width: 60vh;
    padding: 2vh;
}

.store-page-top-section-heading {
    font-family: "Bree Serif";
    color: white;
    font-size: 4vh;
    width: 17vh;
    margin-top: 3vh;
    margin-left: 2vh;
    margin-right: 15vh;
}

.store-page-bottom-section {
    background-color: white;
    width: 60vh;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    padding: 3vh;
}

.store-page-bottom-section-heading {
    font-family: "Roboto";
    color: #f780c3;
    font-size: 3vh;
    font-weight: 600;
    margin-top: 2vh;

}

.store-page-bottom-section-card {
    height: 13vh;
    width: 54vh;

    margin-top: 4vh;
}

.store-page-bottom-section-card-img {
    height: 8vh;
    width: 8vh;

}

.store-page-bottom-section-card-data {
    margin-left: 3vh;
}

.store-page-bottom-section-card-heading {
    font-size: 3vh;
    font-weight: bold;
}

.store-page-bottom-section-card-text {
    font-size: 12px;
    color: #7b8794;
    font-weight: bold;
    margin-top: 0vh;
}